<div class="container-fluid">
       
  <div class="row">
      <div class="col-lg-4 col-sm-6">
          <a routerLink="/All-country-view/{{regions[2]}}" class="regions">
              <div class="card border-primary mb-3" >
               <img class="card-img-top" src="./assets/asia.jpg" alt="Card image cap" style="height: 13rem;" class='img-fluid' >
               <div class="card-header middle" style="text-align:center;"><h2  > <span class="badge badge-secondary" >Asia</span></h2></div>

            </div>
          </a>
      </div>
      <div class="col-lg-4 col-sm-6">
          <a routerLink="/All-country-view/{{regions[0]}}" class="regions">
          <div class="card border-primary mb-3" >
              <img class="card-img-top" src="./assets/africa.jpg" alt="Card image cap"  style="height: 13rem;"  class='img-fluid'>
              <div class="card-header middle" style="text-align:center;"><h2> <span class="badge badge-secondary">africa</span></h2></div>
            
            </div>
          </a>
      </div>
      <div class="col-lg-4 col-sm-6">
          <a routerLink="/All-country-view/{{regions[1]}}" class="regions">
          <div class="card border-primary mb-3" >
              <img class="card-img-top" src="./assets/southamerica.jpg" alt="Card image cap" style="height: 13rem;" class='img-fluid'>
              <div class="card-header middle" style="text-align:center;"><h2> <span class="badge badge-secondary">Americas</span></h2></div>

            </div>
          </a>
      </div>
  
      <div class="col-lg-4 col-sm-6">
          <a routerLink="/All-country-view/{{regions[4]}}" class="regions">
          <div class="card border-primary mb-3" >
              <img class="card-img-top" src="./assets/antarctica.jpg" alt="Card image cap" style="height: 13rem;" class='img-fluid'>
              <div class="card-header middle" style="text-align:center;"><h2> <span class="badge badge-secondary">Oceania</span></h2></div>

            </div>
          </a>
      </div>
      <div class="col-lg-4 col-sm-6">
          <a routerLink="/All-country-view/{{regions[3]}}" class="regions">
          <div class="card border-primary mb-3" >
              <img class="card-img-top" src="./assets/europe.png" alt="Card image cap" style="height: 13rem;" class='img-fluid'>
              <div class="card-header middle" style="text-align:center;"><h2> <span class="badge badge-secondary">Europe</span></h2></div>

            </div>
          </a>
      </div>
  </div>
</div>



